nltk==3.6.5
requests==2.25.1
fastapi==0.78.0
passlib==1.7.4
cassandra-driver==3.25.0
transformers==4.17.0
torch==1.10.0
pydantic==1.8.2
datacollection
celery==5.1.2
diffusers==0.2.0
database_interaction
celery_worker
sqlalchemy==1.4.22
torchvision==0.11.0
moviepy==1.0.3
speechrecognition==3.8.1
pyaudioanalysis==0.3.6
coqui-tts
